.note-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  background-color: #ededed;
  .icon-color {
    margin-left: 10px;
    margin-right: 10px;
  }
  .note-text {
    color: #3f3e45;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    align-items: center;
    display: flex;
  }
}
