@import '../../../styles/main.scss';
@import '../../../styles/table.scss';

.add-or-update-phases {
  // Card
  .card-container {
    @include card-container();
    // Table
    .phases-form-data-table {
      padding-top: 20px;
      .rdt_TableCol {
        @include width-and-margin-of-table-column();
        overflow: hidden;
      }
      .rdt_TableCol:first-child {
        @include max-width-of-first-column();
      }
      .rdt_TableCell {
        @include width-and-margin-of-table-column();
      }
      .rdt_TableCell .form-field {
        width: 100%;
      }
      .rdt_TableCell:first-child {
        @include max-width-of-first-column();
      }
    }
    .with-two-column {
      .rdt_TableHeadRow :nth-child(3) {
        max-width: 300px;
        width: 300px;
        overflow: hidden;
      }
    }
  }
  // Buttons
  .add-or-update-phases-button-container {
    @include btn-group();
    padding-top: 30px;
    .btn-cancel {
      @include btn-cancel();
      margin-left: 10px;
    }
    .btn-save-close {
      @include btn-save-close();
      margin-left: 10px;
    }
    .btn-save-submit {
      @include btn-save-submit();
      margin-left: 10px;
    }
  }
}
