@import '../../styles/table.scss';

.form-data-table {
  .rdt_Table {
    @include table-container;
    .rdt_TableHead {
      padding-left: 10px;
      @include table-header-row;
    }
    .rdt_TableHeadRow {
      @include table-header-row-main;
      border: none;
      .rdt_TableCol {
        padding: 0px;
        &.right {
          text-align: right;
        }
        &.center {
          text-align: center;
        }
        color: #000000;
        font-size: 14px;
        font-weight: bold;
      }
      // .rdt_TableCol:first-child {
      //   you can add style as per requirenment in your required component
      // }
    }
    .rdt_TableBody {
      .rdt_TableRow {
        @include table-content-row;
        padding-left: 10px;
        .rdt_TableCell {
          text-transform: none;
          padding: 0px;
          &.right {
            text-align: right;
          }
          &.center {
            text-align: center;
          }
          color: #595959;
          font-family: Roboto;
          font-size: 14px;
        }
        // .rdt_TableCell:first-child {
        //   max-width: 250px;
        // }
      }
    }
  }

  .cmbwYX {
    display: none !important;
  }

  .cfhufn {
    justify-content: flex-start !important;
  }
  .dRHSWe:hover {
    outline: none !important;
  }

  .sc-fznxsB {
    margin-top: 0px;
    padding-right: 0px;
  }

  // if data not found text will shown in left side
  .sc-fzqARJ.icdHOq {
    justify-content: flex-start;
  }
  .no-data-label {
    color: gray;
    font-size: 13px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
