@import '../../styles/main.scss';
@import '../../styles/table.scss';

.prerequisite-lising {
  .card {
    @include card-container;
  }

  .total {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 16px;
    margin: 30px 0 10px 7px;
    span {
      font-weight: bold;
    }
  }
}
