@import '../../../../styles/main.scss';

.kick-off-meeting-and-sign-off {
  .kick-off-meeting-and-sign-off-wizard {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .card-container {
    @include card-container();
  }
  // Buttons
  .button-container {
    @include btn-group();
    padding-top: 30px;
    .btn-cancel {
      @include btn-cancel();
      margin-left: 10px;
    }
    .btn-save-close {
      @include btn-save-close();
      margin-left: 10px;
    }
    .btn-save-submit {
      @include btn-save-submit();
      margin-left: 10px;
    }
    .btn-sign {
      @include btn(40px, 89px);
      @include btn-primary;
      margin-left: 10px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}
