@import '../../../styles/main.scss';

.add-new-user {
  display: flex;
  flex-wrap: wrap;
  .card {
    @include card-container;
    padding-top: 0px;
  }
  .new-user-text-fields {
    width: 315px;
    margin: 20px 0px;
    margin-right: 20px;
    @include largeDevice {
      width: calc(332px + 2vw);
    }
  }
  // .new-user-dropdown-fields {
  //   margin: 20px 0px;
  //   margin-right: 20px;
  // }

  .email-input-text {
    text-transform: lowercase;
  }
}
