#step4 {
  .background-tra {
    height: 30px;
    margin: 0px;
    background-color: #f5f6fa;
    margin-right: -30px;
    margin-left: -30px;
  }
  .delete-img {
    width: 16px;
    height: 21px;
  }
  .card-header-div {
    margin-left: 30px !important;
  }
  .rdt_TableHead {
    border: 3px solid #eeeeee;
    border-left: 0px;
    border-right: 0px;
  }
  .delete-pre-requisite {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .sc-fznxsB {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  // .rdt_Table .rdt_TableHeadRow .rdt_TableCol,
  // .rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  //   max-width: 300px !important;
  // }
  // .card-list-table .rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  //   .dropdown-multi-select {
  //     overflow: visible;
  //   }
  // }

  // .dropdown-menu {
  //   bottom: unset !important;
  //   transform: none !important;
  //   position: relative !important;
  //   width: 100% !important;
  //   max-height: 150px;
  //   overflow-x: hidden;
  //   padding: 0px;
  //   border-color: rgba(89, 89, 89, 0.1);
  //   z-index: 1;
  //   &::-webkit-scrollbar {
  //     width: 0px;
  //   }
  .dropdown-component-with-search-bar {
    max-width: 100% !important;
  }
  ul {
    width: 100% !important;
    margin-bottom: 0px;
    a {
      min-height: 40px !important;
      border: 1px solid rgba(89, 89, 89, 0.1);
      color: #595959;
      padding-top: 10px;
      padding-left: 5px;
      white-space: normal;
      &.active {
        background-color: transparent;
        color: #414040;
      }
    }
  }
  #dropdown-custom-components {
    // background-color: transparent;
    // color: #595959;
    border-color: #b2b2b5;
    // -webkit-appearance: none !important;
    // background-position: center right 10px;
    // background-repeat: no-repeat;
    // font-size: inherit;
    // width: 100%;
    // height: 42px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    &:focus {
      box-shadow: none;
    }
  }

  //   // dropdown css
  //   input {
  //     position: sticky;
  //     margin-top: 0px;
  //     top: -1px;
  //     border-color: rgba(89, 89, 89, 0.1);
  //     border-radius: 0px !important;
  //     &:focus {
  //       box-shadow: none !important;
  //     }
  //   }
  //   ul {
  //     width: 100% !important;
  //     margin-bottom: 0px;
  //     a {
  //       min-height: 40px !important;
  //       border: 1px solid rgba(89, 89, 89, 0.1);
  //       color: #595959;
  //       padding-top: 10px;
  //       padding-left: 5px;
  //       white-space: normal;
  //       &.active {
  //         background-color: transparent;
  //         color: #414040;
  //       }
  //     }
  //   }
  // }
}
