@import '../../../../styles/main.scss';
@import '../../../../styles/table.scss';

#step1 {
  .input-field-text {
    min-width: 332px;
    max-width: 332px;
    -webkit-box-flex: 0;
    margin: 30px 0 0 25px;
  }
  .dropdown-field-input {
    margin: 30px 0 0 25px;
    -webkit-box-flex: 0;
    max-width: 243px;
    min-width: 243px;
  }
  .dropdown-menu {
    bottom: unset !important;
    transform: none !important;
    position: absolute !important;
    width: 100% !important;
    max-height: 200px;
    overflow-x: hidden;
    top: 42px !important;
    padding: 0px;
    border-color: rgba(89, 89, 89, 0.1);
    z-index: 1;
    &::-webkit-scrollbar {
      width: 0px;
    }
    // dropdown css
    input {
      position: sticky;
      margin-top: 0px;
      top: -1px;
      border-color: rgba(89, 89, 89, 0.1);
      border-radius: 0px !important;
      &:focus {
        box-shadow: none !important;
      }
    }
    ul {
      width: 100% !important;
      margin-bottom: 0px;
      a {
        height: 40px !important;
        border: 1px solid rgba(89, 89, 89, 0.1);
        color: #595959;
        padding-top: 10px;
        &.active {
          background-color: transparent;
          color: #414040;
        }
      }
    }
  }
}

// -webkit-box-flex: 0;
// -ms-flex: 0 0 25%;
// flex: 0 0 25%;
// max-width: 25%;
