@import '../../styles/login-main.scss';

@mixin info {
  @include login-textStyle;
  font-weight: normal;
  color: #ffffff;
  margin-top: 65px;

  @include tablet {
    margin-top: 48px;
    font-weight: normal;
    color: #ffffff;
  }
}

.forgot-password {
  .info-text {
    @include info;
  }
  .btn {
    margin-top: 89px;

    @include tablet {
      margin-top: 80px;
    }
  }

  .username-label {
    @include login-input-label;
    text-transform: unset;
    margin-top: 20px;

    @include tablet {
      margin-top: 18px;
    }
  }

  .input-text {
    @include login-input-text;
  }
}

.recovery-link {
  .btn {
    margin-top: 230px;

    @include tablet {
      margin-top: 185px;
    }
  }

  .info-text {
    @include info;
  }
}
