@import '../../../../styles/main.scss';

.milestone-dates {
  .milestone-dates-card {
    @include card-container;
    margin-bottom: 30px;
    .edit-btn-div {
      position: absolute;
      right: 20px;
      top: 20px;
      .edit-btn {
        @include clickable-icon-btn;
      }
    }
    .milestone-dates-section {
      margin-top: 30px;
      .tablet-milestone-table {
        .rdt_TableHeadRow {
          .sc-AxhCb:first-child {
            display: none;
          }
        }
      }

      .rdt_TableCol {
        text-align: center;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: left !important;
        }
      }
      .expansion-btn {
        @include clickable-icon-btn;
      }
    }
    .milestone-dates-save {
      margin-top: 20px;
      @include btn-group;
      //margin-top: 30px;
      .btn-cancel {
        @include btn-cancel;
        margin-right: 10px;
      }
      .btn-save-close {
        @include btn-save-close;
        margin-right: 10px;
      }
      .btn-save-submit {
        @include btn-save-submit;
      }
    }
  }
}

.milestone-table-row-expanded {
  display: flex;
  min-height: 71px;
  align-items: center;
  border-left: solid 1px #ccdae6;
  border-right: solid 1px #ccdae6;
  border-bottom: solid 1px #ccdae6;
  .milestone-detail {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    flex-grow: 1;
    .milestone-detail-heading {
      text-transform: uppercase;
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--black);
    }
    .milestone-detail-value {
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #595959;
    }
  }
}
