.language-switcher {
  display: flex;
  justify-content: flex-end;
  color: #595959;
  font-family: Roboto;
  font-size: 12px;
  text-align: right;
  .language-label {
    color: #00467f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
  }
}
