@import '../../../../../styles/main.scss';

.preview-mom-and-signoff {
  .table-header-row {
    font-size: 14px;
    font-family: Roboto;
    color: white;
    font-weight: bold;
    background-color: #585858;
    border-bottom: 1px solid black;
  }
}
