@import '../../../styles/main.scss';

#designFormsListing {
  padding: 30px !important;
  .card-header-div {
    margin-left: 0px;
  }
  .total {
    padding-bottom: 10px;
    span {
      font-weight: bolder;
      font-size: 15px;
    }
  }
  .pagination {
    padding-top: 236px;
  }
}
