@import '../../../../../styles/main.scss';

.record-attendees-screen {
  .rdt_TableCell div:first-child {
    max-width: 300px;
    @include tablet {
      max-width: 150px;
    }
  }
  .form-control {
    display: block;
    width: 100%;
    max-width: 166px;
    @include largeDevice {
      max-width: calc(166px + 2vw);
    }
    height: 30px;
    margin-right: 10px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .add-more-button {
    @include largeDevice {
      width: 1100px;
    }
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
